<h5>Template form</h5>

<br>
<br>

<form #formulario>
  <label>
    Nome completo:
    <input
      autofocus
      type="text"
      [(ngModel)]="nomeCompleto"
      name="nomeCompleto"
      (keyup)="validarNome()"
      (keyup.enter)="cadastrarNome(formulario)"
    >
  </label>

  <div>
    <span
      *ngFor="let validacao of validacoes"
      [class]="isNomeValido ? 'ok' : 'erro'"
    >
      - {{ validacao }}
    </span>
  </div>

  <br>
  <br>

  <button
    class="waves-effect waves-light btn"
    [disabled]="!isNomeValido"
    (click)="cadastrarNome(formulario)"
  >
    Cadastrar
  </button>
</form>

<br>
<br>

<table *ngIf="nomes.length > 0">
  <caption>Nomes cadastrados</caption>
  <thead>
    <tr>
      <th>
        Nome
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let nome of nomes">
      <td>{{ nome }}</td>
    </tr>
  </tbody>
</table>
