ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: #111;
  padding: 0;
  margin: 0;
}

ul.header li {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  cursor: pointer;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.active {
  background-color: #0099ff;
}
