<ul class="header ">
  <li
    (click)="setActiveForm('template')"
    [class]="activeForm === 'template' && 'active'"
  >
    Template form
  </li>

  <li
    (click)="setActiveForm('reactive')"
    [class]="activeForm === 'reactive' && 'active'"
  >
    Reactive form
  </li>
</ul>

<div *ngIf="activeForm === 'template'">
  <app-template-form></app-template-form>
</div>

<div *ngIf="activeForm === 'reactive'">
  <app-reactive-form></app-reactive-form>
</div>
